[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pathogen_bundle/snipmate"]
	path = pathogen_bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "pathogen_bundle/fuzzyfinder"]
	path = pathogen_bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "pathogen_bundle/l9"]
	path = pathogen_bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "pathogen_bundle/tag_highlight"]
	path = pathogen_bundle/tag_highlight
	url = https://github.com/vim-scripts/TagHighlight.git
[submodule "shstuff"]
	path = shstuff
	url = https://github.com/koplyarov/shstuff.git
[submodule "pathogen_bundle/nerdtree"]
	path = pathogen_bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pathogen_bundle/nerdcommenter"]
	path = pathogen_bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pathogen_bundle/vimcommander"]
	path = pathogen_bundle/vimcommander
	url = https://github.com/vim-scripts/vimcommander.git
[submodule "pathogen_bundle/matchit"]
	path = pathogen_bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "pathogen_bundle/vim-template"]
	path = pathogen_bundle/vim-template
	url = https://github.com/thinca/vim-template.git
[submodule "pathogen_bundle/javacomplete"]
	path = pathogen_bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "pathogen_bundle/RadicalGoodSpeed"]
	path = pathogen_bundle/RadicalGoodSpeed
	url = https://github.com/svjunic/RadicalGoodSpeed.vim.git
[submodule "pathogen_bundle/rust.vim"]
	path = pathogen_bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pathogen_bundle/fzf"]
	path = pathogen_bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "non-vim/fzf"]
	path = non-vim/fzf
	url = https://github.com/junegunn/fzf.git
