[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pathogen_bundle/clang_complete"]
	path = pathogen_bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "pathogen_bundle/snipmate"]
	path = pathogen_bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "pathogen_bundle/vtreeexplorer"]
	path = pathogen_bundle/vtreeexplorer
	url = https://github.com/vim-scripts/vtreeexplorer.git
